@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    margin-bottom: 100px;
}
a { 
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.wrapper-gral {
    max-width: 79%;
    width: 100%;
    margin: 0 auto;
}